<mat-dialog-content>
    <ng-container>
        <form [formGroup]="form">
          <div>
              <mat-card class="container">
                <div class="container" style="width: 80%">
                  <mat-form-field>
                    <input matInput placeholder="Text" formControlName="text" />
                  </mat-form-field>
                </div>
          
                <button mat-flat-button color="primary" (click)="onClickClose()">
                  Cancel
                </button>
                <button
          
                style="margin-top: 10px;"
                  *ngIf="!isUpdate"
                  mat-flat-button
                  color="primary"
                  [disabled]="!form.valid"
                  type="submit"
                  (click)="onClickCreate()"
                >
                  Add Page
                </button>
                <button
                style="margin-top: 10px;"
                  *ngIf="isUpdate"
                  mat-flat-button
                  color="primary"
                  [disabled]="!form.valid"
                  type="submit"
                  (click)="onClickUpdate()"
                >
                  Update Page
                </button>
              </mat-card>
            </div>
    </form>
      </ng-container>
</mat-dialog-content>